<div>
    <h5 class="hedar">Vehicle Status</h5>
    <div id="id">
        <div>
            <div id="menu">
                <div class="shadow p-3 mb-1 bg-body-tertiary rounded">
                    <div class="Status">
                        <div class="img1">
                            <img src="" alt="img img">
                            <p>Trucks</p>
                        </div>
                        <div class="img1">
                            <p>Active</p>
                            <p>78/92</p>
                        </div>
                    </div>
                    <p class="para">View Details ></p>
                </div>
                <div class="shadow p-3 mb-1 bg-body-tertiary rounded">
                    <div class="Status">
                        <div class="img1">
                            <img src="" alt="img img">
                            <p>Trucks</p>
                        </div>
                        <div class="img1">
                            <p>Active</p>
                            <p>78/92</p>
                        </div>
                    </div>
                    <p class="para">View Details ></p>
                </div>
                <div class="shadow p-3 mb-1 bg-body-tertiary rounded">
                    <div class="Status">
                        <div class="img1">
                            <img src="" alt="img img">
                            <p>Trucks</p>
                        </div>
                        <div class="img1">
                            <p>Active</p>
                            <p>78/92</p>
                        </div>
                    </div>
                    <p class="para">View Details ></p>
                </div>
            </div>
            <div id="Vehicle" class="shadow p-3 mb-5 bg-body-tertiary rounded">
                <h4 class="para2">Vehicle Status</h4>
            </div>
        </div>
        <div id="map" class="shadow p-3 mb-5 bg-body-tertiary rounded">
            <h4 class="para2">Vehicle Status</h4>
        </div>
    </div>
    <div id="coman">
        <div id="Vehicle2" class="shadow p-3 mb-1 bg-body-tertiary rounded">
            <h4 class="para2">Vehicle Status</h4>
        </div>
        <div id="Reminders" class="shadow p-3 mb-1 bg-body-tertiary rounded">
            <h4 class="para2">Reminders</h4>
            <p>* Lorem ipsum dolor sit amet consectetur adipisicing elit... </p>
            <p>* adipisicing elit. A doloremque, ab dolor officiis </p>
            <p>* adipisicing elit. A doloremque, ab dolor officiis </p>
        </div>
        <div id="Upcominf" class="shadow p-3 mb-1 bg-body-tertiary rounded">
            <h4 class="para2">Upcominf Events</h4>
            <p>Insurance due 4 vehicles<span class="span1">></span></p>
            <p>Stock Clearannce <span class="span2">></span></p>
            <p>Truck Maintenance <span class="span3">></span></p>
            <p>Car Refistration <span class="span4">></span></p>
            <p>Truck Cleaninf <span class="span5">></span></p>
        </div>
    </div>
</div>